.container_border {
  border: 2px solid #040404;
}
.btn_next {
  border: 2px solid #000;
  color: #000;
  background-color: #f3c0c0;
  box-shadow: 5px 5px 5px black; 
}
.flag-select__option__icon {
  display: none;
}
.flag-select__option--placeholder {
  border: 1px solid black !important;
}